/* Geral */
body {
  background-color: #F6FCDF ;
  font-family: Arial, sans-serif;
  margin: 0;
}

.navBar {
  display: flex;
  align-items: center;  
  position: fixed;              
  top: 0;                       
  left: 0;                      
  width: 100%;
  background-color: #4C7845;
  color: white;    
  padding: 20px;
  font-size: 20px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nomeApp {
  margin-left: 5%;
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 100px;
}

.hiperLinks {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #FFF;
  font-size: 1em;
  transition: color 0.2s;
}

.hiperLinks:hover {
color: grey;
text-decoration: underline;
}

.txt {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
  margin-top: 100px;
}

.contents{
  display: flex;
  width: 80%; 
  margin: 0 auto;
  justify-content: space-between;
}

.preferences{
  display: flex;
  flex-direction: column;
}

.tabela {
  padding: 50px;
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  font-size: 1.2em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.tabela th, .tabela td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tabela th {
  background-color: #4C7845;
  color: white;
  font-size: 1.1em;
}

.tabela tbody tr:hover {
  background-color: #f9f9f9;
}

.btnAcao {
  display: flex;
  justify-content: center;
}


.btnEliminar, .btnEditar, .btnInfo {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 8px;
}

.btnEditar {
  background-color: #4CAF50;
}

.btnEditar:hover {
  background-color: #45A049;
  transform: scale(1.05);
}

.btnEliminar {
  background-color: #E74C3C;
}

.btnEliminar:hover {
  background-color: #C0392B;
  transform: scale(1.05);
}


input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  transition: border-color 0.3s;
  color: #333;  
  background-color: #fff;  
}

input[type="text"]:focus, select:focus {
  border-color: #4C7845;
  outline: none;
}

.btnCriar {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btnCriar:hover {
  background-color: #45a049;
}

.btnInfo {
  background-color: #1335b3
}

.btnInfo:hover {
  background-color: #0e2884;
  transform: scale(1.05);
}

.btnLogout {
  padding: 10px 20px;
  background-color: #E74C3C;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
}

.btnLogout:hover {
  background-color: #C0392B;
}

.btnLogout:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.8);
}

.btnLogout:active {
  background-color: #C0392B;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.btnFechar {
  margin-top: 20px;
  background: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnFechar:hover {
  background: darkred;
}