/* Geral */
body {
  background-color: #F6FCDF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: #333;
}


.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4C7845;
  color: white;
  padding: 15px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nomeApp {
  font-size: 1.6em;
  font-weight: bold;
}

.hiperLinks {
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin-left: 15px;
  transition: color 0.3s;
}

.hiperLinks:hover {
  color: #ddd;
}

.txt1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
  margin-top: 100px;
}

.tabela1 {
  padding: 50px;
  width: 90%;
  margin: 60px auto;
  border-collapse: collapse;
  font-size: 1.2em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.tabela1 th, .tabela1 td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela1 th {
  background-color: #4C7845;
  color: white;
  font-size: 1.1em;
}

.tabela1 tbody tr:hover {
  background-color: #f9f9f9;
}

.btnAcao {
  display: flex;
  justify-content: center;
}

.btnEliminar, .btnEditar {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 8px;
}

.btnEditar {
  background-color: #4CAF50;
}

.btnEditar:hover {
  background-color: #45A049;
  transform: scale(1.05);
}

.btnEliminar {
  background-color: #E74C3C;
}

.btnEliminar:hover {
  background-color: #C0392B;
  transform: scale(1.05);
}


input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  transition: border-color 0.3s;
  color: #333;  
  background-color: #fff;  
}

input[type="text"]:focus, select:focus {
  border-color: #4C7845;
  outline: none;
}

.btnCriarUtilizador {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 90px;
}

.btnCriarUtilizador:hover {
  background-color: #45a049;
}

