@tailwind base;
@tailwind components;
@tailwind utilities;


body.login {
    font-family: Verdana, sans-serif;
    background-image: url(./pages/css/images/imagemInicio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
}